.add-cart{
  z-index: 100;
  position: relative;
  left: 0;
  height: 100vh;
  top: 0;
}

.none{
  display: none;
}

.block{
  display: block;
}

.smallImg{
  width: 100%;
  position: relative;
}

.smallImg img{
  width: 20%;
  height: auto;
  border: 2px solid black;
  border-radius: 0;
}

.smallImg img:hover{
  width: 30%;
  height: auto;
  box-shadow: 3px 3px 3px 5px rgb(121, 114, 114);
  transition: 2s;
}