.sent{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  float: right;
  padding: 10px;
  
}

.sent div{
  float: right;
}

.sent img{
  float: right;
}

.sent h6{
  float: right;
  font-size: 2vh;
  margin: 0px;
  color: blue;
}

.sent p{
  /* font-size: 2.5vh; */
  margin: 0;
}

.sentText{
  background-color: bisque;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
  max-width: 50%;
  margin-right: 5px;
}

.sent .date{
  font-size: .7rem;
  text-align: right;
  padding: 5px;
}