img{
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.myCard{
  /* background-image: url(./images.jpeg); */
  color: white;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

.myCard p{
  margin: 5px;
  font-size: .7rem;
}

.myCard h5{
  margin: 5px;
  color: yellow;
  font-size: 1rem;
}

