span{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  border-radius: 50%;
}

.span-1{
  background-color: red;
}

.span-2{
  background-color: yellow;
}

.span-3{
  background-color: greenyellow;

}