@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.bankcard{
  width: 71%;
  height: fit-content;
  border: 1px solid rgb(255, 255, 255);
  color: whitesmoke;
  border-radius: 20px;
  background-image: url(./4.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.bankcard h3{
  font-family: 'Koulen', cursive;
  margin-bottom: 10%;
}

.chattybank img{
  width:150px;
  height:  150px;
  align-self: center;
  margin: 0 auto;
  /* border-radius: 0; */
}

.chattybank{
  padding: 20px;
  background: rgba(45, 53, 122, 0.7);
  height: 100%;
  border-radius: 20px;
}

.chattybank span{
  font-size: 1.5rem;
  letter-spacing: 6px;
  padding-top: 3vh;
}

.qrcode{
  background-position: center;
  background-size: cover;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin-left: 20%;
  border: 2px solid white;

}

.valid{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  padding: 20px 20px 20px 20px;
}

.valid span{
  font-size: 1rem;
  padding-left: 10px;
}